USE [master]
GO
/****** Object:  Database [TRACNGHIEM]    Script Date: 15/05/2024 12:53:53 ******/
CREATE DATABASE [TRACNGHIEM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TRACNGHIEM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TRACNGHIEM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TRACNGHIEM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TRACNGHIEM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TRACNGHIEM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TRACNGHIEM]
GO
/****** Object:  Table [dbo].[BAILAM]    Script Date: 15/05/2024 12:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAILAM](
	[CauSo] [int] NULL,
	[MaSV] [char](12) NOT NULL,
	[MaHP] [varchar](10) NULL,
	[MaCH] [varchar](10) NOT NULL,
	[NoiDung] [nvarchar](4000) NULL,
	[DapAn] [char](1) NULL,
	[TraLoi] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAUHOI]    Script Date: 15/05/2024 12:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUHOI](
	[MaCH] [varchar](10) NOT NULL,
	[MaHP] [varchar](10) NULL,
	[NoiDung] [nvarchar](4000) NULL,
	[DapAn] [char](1) NULL,
 CONSTRAINT [PK_CAUHOI] PRIMARY KEY CLUSTERED 
(
	[MaCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 15/05/2024 12:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MaGV] [varchar](10) NOT NULL,
	[HoDem] [nvarchar](30) NULL,
	[Ten] [nvarchar](10) NULL,
	[MatKhau] [varchar](20) NULL,
	[Khoa] [nvarchar](100) NULL,
	[VaiTro] [int] NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUA]    Script Date: 15/05/2024 12:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUA](
	[MaSV] [char](12) NOT NULL,
	[MaHP] [varchar](10) NOT NULL,
	[TenHP] [nvarchar](100) NULL,
	[SoCau] [int] NOT NULL,
	[TGLamBai] [int] NULL,
	[NgayThi] [date] NULL,
	[GioThi] [time](0) NULL,
	[Diem] [float] NULL,
	[LanThi] [int] NULL,
	[TGNopBai] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONTHI]    Script Date: 15/05/2024 12:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONTHI](
	[MaHP] [varchar](10) NOT NULL,
	[TenHP] [nvarchar](100) NULL,
	[SoCau] [int] NOT NULL,
	[TGLamBai] [int] NULL,
	[NgayThi] [date] NULL,
	[GioThi] [time](0) NULL,
 CONSTRAINT [PK_MONTHI] PRIMARY KEY CLUSTERED 
(
	[MaHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 15/05/2024 12:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MaSV] [char](12) NOT NULL,
	[HoDem] [nvarchar](30) NULL,
	[Ten] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[MatKhau] [varchar](20) NULL,
	[Lop] [varchar](10) NULL,
	[Nganh] [nvarchar](100) NULL,
	[VaiTro] [int] NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BAILAM] ([CauSo], [MaSV], [MaHP], [MaCH], [NoiDung], [DapAn], [TraLoi]) VALUES (1, N'21111063239 ', N'NNTA103', N'NNTA103036', N'Tìm lỗi sai trong câu sau:
Little have people done to alleviate the sea pollution caused by the factories in central Vietnam, haven’t they?
A. have people done     
B. caused
C. in central     
D. haven’t they', N'D', N'A')
INSERT [dbo].[BAILAM] ([CauSo], [MaSV], [MaHP], [MaCH], [NoiDung], [DapAn], [TraLoi]) VALUES (20, N'21111063239 ', N'NNTA103', N'NNTA103038', N'Tìm lỗi sai trong câu sau:
Unlike the old one, this new copier can perform their functions in half the time.
A. unlike     
B. can perform
C. their functions     
D. in half the time', N'C', N'D')
INSERT [dbo].[BAILAM] ([CauSo], [MaSV], [MaHP], [MaCH], [NoiDung], [DapAn], [TraLoi]) VALUES (24, N'21111063239 ', N'CTKU102', N'CTKU102045', N'Với cấu trúc dữ liệu mô tả cho Stack:
typedef struct SElement
{
int Key;
SElement *Next;
} SOneElement;
typedef SOneElement *SSTACK;
Tìm mô tả chính xác cho hàm sau:
void SSDelete (SSTACK &SList)
{
while (SList != NULL)
{ SSTACK TempElement = SList;
SList = SList ->Next;
TempElement ->Next = NULL;
delete TempElement;
}
}
A. Hủy phần tử đầu của Stack

B. Hủy phần tử cuối của Stack

C. Hủy phần tử cuối của Stack và lấy giá trị đó in ra màn hình

D. Hủy toàn bộ Stack', N'D', N'D')
GO
INSERT [dbo].[CAUHOI] ([MaCH], [MaHP], [NoiDung], [DapAn]) VALUES (N'CTKM107001', N'CTKM107', N'Máy tính điện tử là gì?
A. Thiết bị lưu trữ thông tin 
B. Thiết bị số hóa và biến đổi thông tin 
C. Thiết bị lưu trữ và xử lý thông tin
D. Thiết bị tạo và biến đổi thông tin', N'C')
INSERT [dbo].[CAUHOI] ([MaCH], [MaHP], [NoiDung], [DapAn]) VALUES (N'CTKM107002', N'CTKM107', N'Máy tính đầu tiên ENIAC sử dụng linh kiện nào trong số các linh kiện sau?
A. Transistor lưỡng cực 
B. Transistor trường 
C. Đèn điện tử 
D. IC bán dẫn', N'C')
INSERT [dbo].[CAUHOI] ([MaCH], [MaHP], [NoiDung], [DapAn]) VALUES (N'CTKM107003', N'CTKM107', N'Trong các phát biểu sau, phát biểu nào đúng?
A. Phần cứng của máy tính bao gồm các đối tượng vật lý như: bản mạch chính, bộ nhớ RAM, ROM, đĩa cứng, màn hình 
B. Phần cứng của máy tính bao gồm các đối tượng như: bản mạch chính, bộ nhớ RAM, bộ nhớ ROM, đĩa cứng, màn hình và chương trình được cài đặt trong ROM 
C. Phần cứng của máy tính là chương trình được cài đặt trong bộ nhớ ROM 
D. Phần cứng của máy tính chính là bộ xử lý trung tâm', N'A')
GO
INSERT [dbo].[CAUHOI] ([MaCH], [MaHP], [NoiDung], [DapAn]) VALUES (N'CTKU102045', N'CTKU102', N'Với cấu trúc dữ liệu mô tả cho Stack:
typedef struct SElement
{
int Key;
SElement *Next;
} SOneElement;
typedef SOneElement *SSTACK;
Tìm mô tả chính xác cho hàm sau:
void SSDelete (SSTACK &SList)
{
while (SList != NULL)
{ SSTACK TempElement = SList;
SList = SList ->Next;
TempElement ->Next = NULL;
delete TempElement;
}
}
A. Hủy phần tử đầu của Stack

B. Hủy phần tử cuối của Stack

C. Hủy phần tử cuối của Stack và lấy giá trị đó in ra màn hình

D. Hủy toàn bộ Stack', N'D')
GO
INSERT [dbo].[GIANGVIEN] ([MaGV], [HoDem], [Ten], [MatKhau], [Khoa], [VaiTro]) VALUES (N'admin', N'', N'', N'admin', N'', 1)
INSERT [dbo].[GIANGVIEN] ([MaGV], [HoDem], [Ten], [MatKhau], [Khoa], [VaiTro]) VALUES (N'GV01', N'Trần Minh', N'Thắng', N'tmt@hunre', N'Công nghệ thông tin', 1)
INSERT [dbo].[GIANGVIEN] ([MaGV], [HoDem], [Ten], [MatKhau], [Khoa], [VaiTro]) VALUES (N'GV02', N'Vũ Ngọc', N'Phan', N'vnp@hunre', N'Công nghệ thông tin', 1)
GO
INSERT [dbo].[KETQUA] ([MaSV], [MaHP], [TenHP], [SoCau], [TGLamBai], [NgayThi], [GioThi], [Diem], [LanThi], [TGNopBai]) VALUES (N'21111063239 ', N'NNTA103', N'Tiếng anh 3', 25, 45, CAST(N'2024-05-15' AS Date), CAST(N'01:30:00' AS Time), 2.8, 1, CAST(N'2024-05-15T02:28:55.093' AS DateTime))
INSERT [dbo].[KETQUA] ([MaSV], [MaHP], [TenHP], [SoCau], [TGLamBai], [NgayThi], [GioThi], [Diem], [LanThi], [TGNopBai]) VALUES (N'21111063239 ', N'CTKU102', N'Cấu trúc dữ liệu và giải thuật', 45, 90, CAST(N'2024-05-15' AS Date), CAST(N'01:10:00' AS Time), 2.44, 1, CAST(N'2024-05-15T02:56:29.313' AS DateTime))
INSERT [dbo].[KETQUA] ([MaSV], [MaHP], [TenHP], [SoCau], [TGLamBai], [NgayThi], [GioThi], [Diem], [LanThi], [TGNopBai]) VALUES (N'21111063239 ', N'CTKM107', N'Kiến trúc máy tính', 30, 45, CAST(N'2024-05-15' AS Date), CAST(N'02:30:00' AS Time), 1.33, 1, CAST(N'2024-05-15T02:31:22.653' AS DateTime))
GO
INSERT [dbo].[MONTHI] ([MaHP], [TenHP], [SoCau], [TGLamBai], [NgayThi], [GioThi]) VALUES (N'CTKM103', N'Toán rời rạc', 20, 45, CAST(N'2024-05-12' AS Date), CAST(N'16:00:00' AS Time))
INSERT [dbo].[MONTHI] ([MaHP], [TenHP], [SoCau], [TGLamBai], [NgayThi], [GioThi]) VALUES (N'CTKM107', N'Kiến trúc máy tính', 30, 45, CAST(N'2024-05-15' AS Date), CAST(N'02:30:00' AS Time))
INSERT [dbo].[MONTHI] ([MaHP], [TenHP], [SoCau], [TGLamBai], [NgayThi], [GioThi]) VALUES (N'CTKU102', N'Cấu trúc dữ liệu và giải thuật', 45, 90, CAST(N'2024-05-15' AS Date), CAST(N'01:10:00' AS Time))
GO
INSERT [dbo].[SINHVIEN] ([MaSV], [HoDem], [Ten], [NgaySinh], [MatKhau], [Lop], [Nganh], [VaiTro]) VALUES (N'21111063117 ', N'Lê Quang', N'Thành', CAST(N'2003-02-10' AS Date), N'10022003', N'DH11C9', N'Công nghệ thông tin', 0)
INSERT [dbo].[SINHVIEN] ([MaSV], [HoDem], [Ten], [NgaySinh], [MatKhau], [Lop], [Nganh], [VaiTro]) VALUES (N'21111063120 ', N'Đỗ Danh', N'Toàn', CAST(N'2003-01-28' AS Date), N'28012003', N'DH11C9', N'Công nghệ thông tin', 0)
INSERT [dbo].[SINHVIEN] ([MaSV], [HoDem], [Ten], [NgaySinh], [MatKhau], [Lop], [Nganh], [VaiTro]) VALUES (N'21111063145 ', N'Nguyễn Đăng', N'Huy', CAST(N'2003-09-08' AS Date), N'08092003', N'DH11C9', N'Công nghệ thông tin', 0)
GO
ALTER TABLE [dbo].[BAILAM]  WITH CHECK ADD  CONSTRAINT [FK_BAILAM_MONTHI] FOREIGN KEY([MaHP])
REFERENCES [dbo].[MONTHI] ([MaHP])
GO
ALTER TABLE [dbo].[BAILAM] CHECK CONSTRAINT [FK_BAILAM_MONTHI]
GO
ALTER TABLE [dbo].[BAILAM]  WITH CHECK ADD  CONSTRAINT [FK_BAILAM_SINHVIEN] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SINHVIEN] ([MaSV])
GO
ALTER TABLE [dbo].[BAILAM] CHECK CONSTRAINT [FK_BAILAM_SINHVIEN]
GO
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD  CONSTRAINT [FK_CAUHOI_MONTHI] FOREIGN KEY([MaHP])
REFERENCES [dbo].[MONTHI] ([MaHP])
GO
ALTER TABLE [dbo].[CAUHOI] CHECK CONSTRAINT [FK_CAUHOI_MONTHI]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_MONTHI] FOREIGN KEY([MaHP])
REFERENCES [dbo].[MONTHI] ([MaHP])
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [FK_KETQUA_MONTHI]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_SINHVIEN] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SINHVIEN] ([MaSV])
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [FK_KETQUA_SINHVIEN]
GO
USE [master]
GO
